<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yizhi.student.dao.StudentInfoDao">

    <select id="get" resultType="com.yizhi.student.domain.StudentInfoDO">
        select *
        from s_student_info s
        where s.id = #{value}
    </select>

    <select id="list" resultType="com.yizhi.student.domain.StudentInfoDO">
        SELECT * FROM s_student_info s
        <where>
            <if test="name != null and name != ''">
                AND s.student_name LIKE concat('%',#{name},'%')
            </if>
            <if test="tomajorId !=null and tomajorId != ''">
                AND s.tomajor =#{tomajorId}
            </if>
            <if test="classId !=null and classId != ''">
                AND s.class_id =#{classId}
            </if>
            <if test="tocollegeId != null and tocollegeId != ''">
                AND s.tocollege = #{tocollegeId}
            </if>
        </where>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>


    <select id="count" resultType="int">
        select count(*) from s_student_info s
        <where>
            <if test="name != null and name != ''">
                AND s.student_name LIKE concat('%',#{name},'%')
            </if>
            <if test="tomajorId !=null and tomajorId != ''">
                AND s.tomajor =#{tomajorId}
            </if>
            <if test="classId !=null and classId != ''">
                AND s.class_id =#{classId}
            </if>
            <if test="tocollegeId != null and tocollegeId != ''">
                AND s.tocollege = #{tocollegeId}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.yizhi.student.domain.StudentInfoDO" useGeneratedKeys="true" keyProperty="id">
        insert into s_student_info
        (`student_id`,
         `exam_id`,
         `class_id`,
         `student_name`,
         `certify`,
         `mail_address`,
         `foreign_lanaguage`,
         `student_sex`,
         `nation`,
         `political`,
         `card_id`,
         `telephone`,
         `subject_type`,
         `tocollege`,
         `tocampus`,
         `tomajor`,
         `birthplace`,
         `grade`,
         `isstate`,
         `birthday`,
         `note`)

        values (#{studentId},
                #{examId},
                #{classId},
                #{studentName},
                #{certify},
                #{mailAddress},
                #{foreignLanaguage},
                #{studentSex},
                #{nation},
                #{political},
                #{cardId},
                #{telephone},
                #{subjectType},
                #{tocollege},
                #{tocampus},
                #{tomajor},
                #{birthplace},
                #{grade},
                #{isstate},
                #{birthday},
                #{note})
    </insert>

    <update id="update" parameterType="com.yizhi.student.domain.StudentInfoDO">
        update s_student_info
        <set>
            <if test="`studentId` != null">`student_id` = #{studentId}, </if>
            <if test="examId != null">`exam_id` = #{examId}, </if>
            <if test="classId != null">`class_id` = #{classId}, </if>
            <if test="studentName != null">`student_name` = #{studentName}, </if>
            <if test="certify != null">`certify` = #{certify},</if>
            <if test="`mailAddress` != null">`mail_address` = #{mailAddress}, </if>
            <if test="foreignLanaguage != null">`foreign_lanaguage` = #{foreignLanaguage}, </if>
            <if test="studentSex != null">`student_sex` = #{studentSex}, </if>
            <if test="nation != null">`nation` = #{nation}, </if>
            <if test="political != null">`political` = #{political},</if>
            <if test="`cardId` != null">`card_id` = #{cardId}, </if>
            <if test="telephone != null">`telephone` = #{telephone}, </if>
            <if test="subjectType != null">`subject_type` = #{subjectType}, </if>
            <if test="tocollege != null">`tocollege` = #{tocollege}, </if>
            <if test="tocampus != null">`tocampus` = #{tocampus},</if>
            <if test="tomajor != null">`tomajor` = #{tomajor},</if>
            <if test="`birthplace` != null">`birthplace` = #{birthplace}, </if>
            <if test="grade != null">`grade` = #{grade}, </if>
            <if test="isstate != null">`isstate` = #{isstate}, </if>
            <if test="birthday != null">`birthday` = #{birthday}, </if>
            <if test="note != null">`note` = #{note}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
        delete from s_student_info where id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from s_student_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>